.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.image{
    width: 500px;
    height: 500px;
    object-fit: cover;
}